<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>주민목록</title>
    <link rel="stylesheet" href="/resources/style.css"/>
</head>
<body>
    <h1> 주민 목록 </h1>
    <table>
        <COLGROUP>
            <col style="width: 20%">
            <col style="width: 30%">
            <col style="width: 30%">
            <col style="width: 20%">
        </COLGROUP>
        <thead>
            <tr>
                <th>주민 이름</th>
                <th>문서 내용</th>
                <th>증명서 발급 기록</th>
                <th>삭제</th>
            </tr>
        </thead>
        <tr th:each="item :${page.content}">
            <td th:text="${item.name}"></td>
            <td>
                <ul>
                    <li><a th:href="@{/residents/{number}/relationship(number=${item.residentId})}">가족관계증명서</a></li>
                    <li><a href="">주민등록등본</a></li>
                    <li><a href="">출생신고서</a></li>
                    <li><a href="">사망신고서</a></li>
                </ul>
            </td>
            <td><a href="">발급 목록</a></td>
            <form>
                <td><button type="submit">삭제</button></td>
            </form>
        </tr>
    </table>
    <a th:href="@{/(page=${pageable.next().getPageNumber()})}">다음</a>
</body>
</html>